<div class="card" style="width: 90%; height: 70%; margin: 80px auto">
  <img src="assets/images/img/book-cover.jpg" alt="Avatar" style="width:200px; height: 200px; margin: 0 auto; display: block">
  <div class="container">
    <h2>{{category?.name}}</h2>

    <div *ngIf="state.isEdit">
      <form [formGroup]="categoryForm">
        <div class="flex-row">
          <div class="form-group">
            <label>Book Name</label>
            <input formControlName="name" type="text" class="form-control">
          </div>
           <div class="form-group">
            <label>Description</label>
            <input formControlName="description" type="text" class="form-control">
          </div>
          <div>
            <button class="btn btn-primary" (click)="editCategory()">Update</button>
          </div>
        </div>
      </form>
    </div>

    <div>{{category?.description}}</div>
    <div>{{category?.isFavorite}}</div>
    <div>{{category?.createdAt | date : 'medium'}}</div>

    <div style="float: right">
      <a class="me-5">Favorite</a>
      <a style="margin: 0 40px" (click)="toggleEdit()">Edit</a>
      <a (click)="deleteCategory()">Delete</a>
    </div>
  </div>
</div>
